html {
	background-color: #99FF66;
}

body {
	width: 1000px;
	margin: 30px auto 30px auto;
	padding: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-width: s2px;
	border-color: #003300;
	font-family: Candara;
}

span {
	margin: 2px;
	font-size: 25px;
	font-style: oblique;
}

a{
	text-decoration: none;
	color: #003300;
}

table {
	border-width: 2px;
	border-spacing: 2px;
	border-style: solid;
	border-color: green;
	border-collapse: collapse;
	margin: auto;
}
table tr td {
	width: 70px;
	border-width: 0px;
	padding: 5px;
	border-style: inset;
	border-color: green;
}

#content {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.button {
	padding: 5px 10px;
	display: compact;
	background-color: #58aa00;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}

.button:hover {
	background-color: #99FF66;
}